In [14]:
import mysql.connector
import pandas as pd

# Establecer la conexi칩n a la base de datos
'''conexion = mysql.connector.connect(
    host="localhost",
    port="33061",
    user="root",
    password="1234"
)'''

conexion = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="root",
    password="1234"
)


# Crear la base de datos
cursor = conexion.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS internet")
conexion.database = "internet"

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

In [8]:
# Nombre del archivo CSV
archivo_csv = '/home/juanjo/Proyectos/Proyecto_Henry02/tabla_tiempo.csv'

# Nombre de la tabla
tabla_nombre = 'tabla_tiempo'

sql_create_table = f"""
    CREATE TABLE IF NOT EXISTS {tabla_nombre} (
        ID_tiempo INT PRIMARY KEY,
        A침o INT,
        Trimestre INT,
        Periodo VARCHAR(255)
    )
"""
cursor.execute(sql_create_table)

sql_load_data = f"""
    LOAD DATA INFILE '{archivo_csv}'
    INTO TABLE {tabla_nombre}
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES
    (ID_tiempo, A침o, Trimestre, Periodo)
"""

# Ejecutar la sentencia SQL
cursor.execute(sql_load_data)

# Confirmar los cambios y cerrar la conexi칩n
conexion.commit()
conexion.close()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'tabla_tiempo.PRIMARY'

In [12]:
conexion.close()