In [30]:
import pandas as pd
df_movies = pd.read_csv('Dataset/movies_dataset_.csv',delimiter=';',header='infer',encoding='latin1', error_bad_lines=False)
list(df_movies.columns)

/tmp/ipykernel_719/3851493606.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_movies = pd.read_csv('Dataset/movies_dataset_.csv',delimiter=';',header='infer',encoding='latin1', error_bad_lines=False)
/tmp/ipykernel_719/3851493606.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('Dataset/movies_dataset_.csv',delimiter=';',header='infer',encoding='latin1', error_bad_lines=False)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

## Limpieza de elementos Nulos y repetidos

In [31]:
#eliminamos las columnas que no usaremos
df_movies.drop(['video', 'imdb_id','adult','original_title','poster_path','homepage'], axis=1, inplace=True)

In [32]:
#verificamos que columnas tienen valores nulos
df_movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   959
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25055
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [33]:
#elimnamos las filas de id que nulos
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce').astype('Int64')

df_movies = df_movies.dropna(axis=0, how='any',subset='id')
df_movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   959
popularity                   3
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25052
title                        3
vote_average                 3
vote_count                   3
dtype: int64

In [34]:
#verificamos que todas las filas tengan la misma cantidad de atributos
num_columnas = df_movies.shape[1]

# Identificar los índices de las filas con más o menos valores que el número de columnas
indices_filas_extras = df_movies[df_movies.apply(lambda row: len(row) != num_columnas, axis=1)].index

print(indices_filas_extras)

Int64Index([], dtype='int64')

In [35]:
#convertimos los valores nulos o no numericos (nan) a 0 en budget y revenue
df_movies.budget = df_movies.budget.fillna(0)
df_movies.revenue = df_movies.revenue.fillna(0)
df_movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   959
popularity                   3
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    260
spoken_languages             3
status                      84
tagline                  25052
title                        3
vote_average                 3
vote_count                   3
dtype: int64

In [36]:
#eliminamos los valores nulos de release_date , axis 0 filas
df_movies = df_movies.dropna(axis=0, how='any',subset='release_date')
df_movies.isnull().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   946
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24979
title                        0
vote_average                 0
vote_count                   0
dtype: int64

In [37]:
#verificamos los tipos de datos de nuestra data
df_movies.dtypes

belongs_to_collection     object
budget                    object
genres                    object
id                         Int64
original_language         object
overview                  object
popularity                object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
vote_average             float64
vote_count               float64
dtype: object

In [38]:
#Eliminamos los valores que no pueden convertirse en numero en budget
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')
df_movies = df_movies.dropna(axis=0, how='any',subset='budget')
df_movies.isnull().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   946
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24979
title                        0
vote_average                 0
vote_count                   0
dtype: int64

In [39]:
#Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget,dividiendo
#estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0



#NUEVO COD
def calculate_return(row):
    revenue = row['revenue']
    budget = row['budget']
    if budget != 0:
        return revenue / budget
    else:
        return 0
df_movies['return'] = df_movies.apply(calculate_return, axis=1)

In [40]:
#Convertimos las fechas en formato:  formato AAAA-mm-dd
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')
df_movies.isnull().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   946
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24979
title                        0
vote_average                 0
vote_count                   0
return                       0
dtype: int64

In [41]:
#Eliminamos los ID repetidos de movies
df_movies.drop_duplicates(subset=['id'], keep='first', inplace=True)
cantidad_filas = df_movies.shape[0]
print(cantidad_filas)
df_movies.isnull().sum()

45346

belongs_to_collection    40861
budget                       0
genres                       0
id                           0
original_language           11
overview                   946
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24960
title                        0
vote_average                 0
vote_count                   0
return                       0
dtype: int64

## Desanidamos los dados en formato de lista de diccionarios o diccionarios

In [42]:
#genres
import ast
import json
#extraemos solo el name de los generos, la columna esta es formato lista de diccionarios
df_movies['genres'] = df_movies['genres'].apply(lambda x: json.loads(str(x).replace("'", '"')))

df_movies['genres'] = df_movies['genres'].apply(lambda x: [dic['name'] for dic in x])
df_movies['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45460        [Drama, Action, Romance]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45346, dtype: object

In [43]:
#verificamos en que filas hay un error de lectura en nombre

error_indices_values = []

for i, row in df_movies.iterrows():
    try:
        json.loads(row['production_countries'].replace("'", '"'))
    except json.JSONDecodeError:
        error_indices_values.append((i, row['production_countries']))

print("Filas con error:")
for index, value in error_indices_values:
    print("Índice:", index, "- Valor:", value)

Filas con error:
Índice: 4321 - Valor: [{'iso_3166_1': 'CI', 'name': "Cote D'Ivoire"}, {'iso_3166_1': 'BF', 'name': 'Burkina Faso'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}]
Índice: 6954 - Valor: [{'iso_3166_1': 'CI', 'name': "Cote D'Ivoire"}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}]
Índice: 23274 - Valor: [{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'LA', 'name': "Lao People's Democratic Republic"}, {'iso_3166_1': 'TH', 'name': 'Thailand'}]
Índice: 30435 - Valor: [{'iso_3166_1': 'LA', 'name': "Lao People's Democratic Republic"}]
Índice: 39708 - Valor: [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LA', 'name': "Lao People's Democratic Republic"}]

In [44]:

#TRANSFORMAMOS LOS DATOS DE PRODUCTION COUNTRIES EN LISTAS QUE SOLO TENGAN EL NAME
def transform_countries(value):
    try:
        countries_list = ast.literal_eval(value)
        return [dic['name'].strip("'") if isinstance(dic['name'], str) else dic['name'] for dic in countries_list]
    except (SyntaxError, ValueError):
        return []

# Aplicar la transformación a la columna 'production_countries'
df_movies['production_countries'] = df_movies['production_countries'].apply(transform_countries)

In [45]:
##TRANSFORMAMOS LOS DATOS DE PRODUCTION COMPANIES EN LISTAS QUE SOLO TENGAN EL NAME DE LA PRODUCTORA
def transform_companies(value):
    try:
        companies_list = ast.literal_eval(value)
        return [dic['name'].strip("'") if isinstance(dic['name'], str) else dic['name'] for dic in companies_list]
    except (SyntaxError, ValueError):
        return []

# Aplicar la transformación a la columna 'production_countries'
df_movies['production_companies'] = df_movies['production_companies'].apply(transform_companies)
df_movies['production_companies']

0                                [Pixar Animation Studios]
1        [TriStar Pictures, Teitler Film, Interscope Co...
2                           [Warner Bros., Lancaster Gate]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45460    [Westdeutscher Rundfunk (WDR), Working Title F...
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                   []
Name: production_companies, Length: 45346, dtype: object

In [46]:
df_movies.isnull().sum()

belongs_to_collection    40861
budget                       0
genres                       0
id                           0
original_language           11
overview                   946
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24960
title                        0
vote_average                 0
vote_count                   0
return                       0
dtype: int64

In [47]:
df_movies.dtypes

belongs_to_collection            object
budget                            int64
genres                           object
id                                Int64
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
return                          float64
dtype: object

In [48]:
# Identificamos los índices de las filas con más o menos valores que el número de columnas
num_columnas = df_movies.shape[1]

indices_filas_extras = df_movies[df_movies.apply(lambda row: len(row) != num_columnas, axis=1)].index

print(indices_filas_extras)

Int64Index([], dtype='int64')

In [49]:
#desanidamos de nuevo los datos:

df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(lambda x: ast.literal_eval(str(x)) if pd.notnull(x) else x)
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(lambda x: json.loads(x) if isinstance(x, str) else x)


df_desanidado = pd.json_normalize(df_movies['belongs_to_collection'])

columnas_a_eliminar = ['poster_path', 'backdrop_path']
df_desanidado= df_desanidado.drop(columnas_a_eliminar, axis=1)
#cambiamos el nombre del id de la pelicula de belongs
df_desanidado.rename(columns={'id': 'id_collection'}, inplace=True)
df_desanidado.rename(columns={'name': 'name_collection'}, inplace=True)

#cambiamos el tipo de datos del id
df_desanidado['id_collection'] = pd.to_numeric(df_desanidado['id_collection'], errors='coerce').astype('Int64')


df_movies.drop('belongs_to_collection', axis=1, inplace=True)
# especificamos que se une fila por fila, primero 
nombres_columnas = list(df_desanidado.columns) + list(df_movies.columns)

df1_reset = df_desanidado.reset_index(drop=True)
df2_reset = df_movies.reset_index(drop=True)

df_concatenado = pd.concat([df1_reset,df2_reset], axis=1,ignore_index=True)
df_concatenado
#df_concatenado.to_csv('data3.csv', index=False)
df_concatenado.columns=nombres_columnas

In [50]:
#eliminamos los valores nulos de concatenado
df_concatenado['id'] = pd.to_numeric(df_concatenado['id'], errors='coerce').astype('Int64')

df_concatenado= df_concatenado.dropna(axis=0, how='any',subset='id')
df_concatenado.isnull().sum()

id_collection           40861
name_collection         40861
budget                      0
genres                      0
id                          0
original_language          11
overview                  946
popularity                  0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                   246
spoken_languages            0
status                     80
tagline                 24960
title                       0
vote_average                0
vote_count                  0
return                      0
dtype: int64

In [51]:
#buscamos algunos datos en movies
datos_columna2 = df_concatenado.loc[df_concatenado['id_collection'] == 10194, ['name_collection','title']]
datos_columna2

            name_collection        title
0      Toy Story Collection    Toy Story
2994   Toy Story Collection  Toy Story 2
15335  Toy Story Collection  Toy Story 3

In [52]:
df_concatenado.columns

Index(['id_collection', 'name_collection', 'budget', 'genres', 'id',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'return'],
      dtype='object')

## Desanidamos los datos de la base de datos Credits

In [53]:
#desanidamos los datos de Credits
df_credits = pd.read_csv('Dataset/credits.csv',delimiter=',',header='infer')

#imprimimos en una lista los headers
list(df_credits.columns)

['cast', 'crew', 'id']

In [54]:
#buscamos algunos datos
datos_columna2 = df_credits.loc[df_credits['id'] == 862, 'crew']
datos_columna2
#df_movies['title']

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
Name: crew, dtype: object

In [55]:
#Eliminamos los ID repetidos de credits
df_credits.drop_duplicates(subset=['id'], keep='first', inplace=True)
#eliminamos la columna cast
df_credits.drop('cast', axis=1, inplace=True)
#imprimimos el total de filas
cantidad_filas = df_movies.shape[0]
print(cantidad_filas)

45346

In [56]:
#El uso de dic.get('job') en lugar de dic['job'] permite manejar el caso en el que la clave 'job'
# no está presente en un diccionario sin generar una excepción.

#como ya no es un string se aplica eval 
df_credits['crew'] = df_credits['crew'].apply(eval)
df_credits['crew'] = df_credits['crew'].apply(lambda x: [dic['name'] for dic in x if dic.get('job') == 'Director'])

df_credits['crew']

0           [John Lasseter]
1            [Joe Johnston]
2           [Howard Deutch]
3         [Forest Whitaker]
4           [Charles Shyer]
                ...
45471    [Hamid Nematollah]
45472            [Lav Diaz]
45473      [Mark L. Lester]
45474    [Yakov Protazanov]
45475       [Daisy Asquith]
Name: crew, Length: 45432, dtype: object

## Concatenamos nuestros datos y los exportamos

In [57]:
#contatenamos el dtframe movie con el datacredits

df_unido = pd.merge(df_concatenado, df_credits, on='id')

column_name = "title"
df_unido = df_unido[[column_name] + [col for col in df_unido.columns if col != column_name]]
df_unido.columns

Index(['title', 'id_collection', 'name_collection', 'budget', 'genres', 'id',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count',
       'return', 'crew'],
      dtype='object')

In [58]:
#exportamos nuestros datos en un csv
df_unido.to_csv('data.csv', index=False)